doctype html
html(data-ng-app="noerd.Klap", lang="da")
	head
		title Klap
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		//link(rel='stylesheet', href='http://fast.fonts.net/cssapi/3b2e6dd0-e910-423a-b15e-9ccfcadb3d28.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
		// Main app js
		script(src="/assets/bower_components/angular/angular.js")
		script(src="/assets/bower_components/angular-sanitize/angular-sanitize.js")
		script(src="/assets/scripts/libs/wavesurfer.min.js")

		block head
		// Fonts

	body.klap(data-ng-controller="MainCtrl as main")

		div.klap__logo

		header.klap__header
			//div.klap__menutoggle(data-ng-click="main.toggleOverlay()", data-ng-hide="!main.overlays.menu.states.show")
					div.justy(data-ng-class="{'justy--active': main.overlays.menu.states.show}")
			div.klap__menutoggle(data-ng-click="main.toggleOverlay('menu')")
				div.justy(data-ng-class="{'justy--active': main.overlays.menu.states.show}")

		div.klap__overlay(data-ng-class="{'klap__overlay--show': main.overlays.menu.states.show}")
			div.klap__logo
			div.klap__menu
				div.klap__menuitem Intro
				div.klap__menuitem Who we are
				div.klap__menuitem Cases
				div.klap__menuitem Contact

		div.klap__overlay(data-ng-class="{'klap__overlay--show': main.overlays.case.states.show}")
			div.klap__logo
			section.container.container--pushtop.container--textcenter
				div.container__content
					//div.container__inner(data-ng-bind-html="main.overlays.case.html")
					div.container__inner
						div.rte
							h1.rte__headline
								| Madhouse
								b Collection
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

					div.container__inner
						div.audiowave0(data-wavesurfer="asdsad.mp3")

					div.container__inner
						div.gallery(data-drag)
							div.gallery__list
								- for (var i = 0; i < 10; ++i) {
									div.gallery__image
										img(src="http://placehold.it/490/675")
								- }

		block body

		block glovalVars

		block content



		script(src="/assets/scripts/app.js")
		script(src="/assets/scripts/controllers/main.controller.js")
		script(src="/assets/scripts/controllers/slides.controller.js")
		script(src="/assets/scripts/directives/wavesurfer.directive.js")
		script(src="/assets/scripts/directives/dragcontainer.directive.js")
		//script(src="/assets/scripts/directives/drag.directive.js")
