doctype html
html(data-ng-app="klap", lang="da")
	head
		title Klap
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		// Main app js
		block head
		// Fonts

	body.klap

		header.klap__header
			div.klap__logo
			div.klap__menutoggle
				div.justy

		block body

		block glovalVars

		block content
