doctype html
html(data-ng-app="noerd.Klap", lang="da")
	head
		title Klap
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		link(rel='stylesheet', href='http://fast.fonts.net/cssapi/3b2e6dd0-e910-423a-b15e-9ccfcadb3d28.css')
		// Main app js
		script(src="/assets/bower_components/angular/angular.js")
		script(src="/assets/bower_components/angular-sanitize/angular-sanitize.js")

		block head
		// Fonts

	body.klap(data-ng-controller="MainCtrl as main")

		div.klap__logo

		header.klap__header
			//div.klap__menutoggle(data-ng-click="main.toggleOverlay()", data-ng-hide="!main.overlays.menu.states.show")
				div.justy(data-ng-class="{'justy--active': main.overlays.menu.states.show}")
			div.klap__menutoggle(data-ng-click="main.toggleOverlay('menu')")
				div.justy(data-ng-class="{'justy--active': main.overlays.menu.states.show}")

		div.klap__overlay(data-ng-class="{'klap__overlay--show': main.overlays.menu.states.show}")
			div.klap__logo
			div.klap__menu
				div.klap__menuitem Intro
				div.klap__menuitem Who we are
				div.klap__menuitem Cases
				div.klap__menuitem Contact

		div.klap__overlay(data-ng-class="{'klap__overlay--show': main.overlays.case.states.show}")
			section.container
				div.container__content
					div.container__inner(data-ng-bind-html="main.overlays.case.html")

		block body

		block glovalVars

		block content



		script(src="/assets/scripts/app.js")
		script(src="/assets/scripts/controllers/main.controller.js")
		script(src="/assets/scripts/controllers/slides.controller.js")
