<!DOCTYPE html>
<html data-ng-app="noerd.Klap" lang="da">
  <head>
    <title>Klap</title>
    <meta charset="UTF-8">
    <!--meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="http://fast.fonts.net/cssapi/3b2e6dd0-e910-423a-b15e-9ccfcadb3d28.css">
    <!-- Main app js-->
    <script src="/assets/bower_components/angular/angular.js"></script>
    <!-- Fonts-->
  </head>
  <body class="klap">
    <div class="klap__logo"></div>
    <header class="klap__header">
      <div class="klap__menutoggle">
        <div class="justy"></div>
      </div>
    </header>
    <section class="container container--fullscreen container--expand">
      <div class="container__bg">
        <div class="vimeo">
          <!--iframe(src="https://player.vimeo.com/video/111753765?autoplay=1&loop=1", width="1500", height="642", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)-->
        </div>
      </div>
    </section>
    <section class="container container--xs-expand container--s-expand">
      <div class="container__content">
        <div class="container__inner">
          <div data-ng-controller="SlidesCtrl as slides" data-slides="5" data-slides-autoplay="true" class="slides">
            <div class="slides__cutter">
              <div data-ng-style="slides.css" class="slides__list">
                <!--div.slides__slide(style="background-image: url('http://placehold.it/1500x500')")-->
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
              </div>
            </div>
            <div class="slides__map">
              <div data-ng-click="slides.switchSlide(0, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(0)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(1, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(1)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(2, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(2)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(3, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(3)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(4, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(4)}" class="slides__mapitem"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">
          <div class="tiles"><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">Our services</div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">Contact Klap</div>
      </div>
    </section>
    <script src="/assets/scripts/app.js"></script>
    <script src="/assets/scripts/controllers/slides.controller.js"></script>
  </body>
</html>