<!DOCTYPE html>
<html data-ng-app="noerd.Klap" lang="da">
  <head>
    <title>Klap</title>
    <meta charset="UTF-8">
    <!--meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <!--link(rel='stylesheet', href='http://fast.fonts.net/cssapi/3b2e6dd0-e910-423a-b15e-9ccfcadb3d28.css')-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-- Main app js-->
    <script src="/assets/bower_components/angular/angular.js"></script>
    <script src="/assets/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/assets/scripts/libs/wavesurfer.min.js"></script>
    <!-- Fonts-->
  </head>
  <body data-ng-controller="MainCtrl as main" class="klap">
    <div class="klap__logo"></div>
    <header class="klap__header">
      <!--div.klap__menutoggle(data-ng-click="main.toggleOverlay()", data-ng-hide="!main.overlays.menu.states.show")div.justy(data-ng-class="{'justy--active': main.overlays.menu.states.show}")
      -->
      <div data-ng-click="main.toggleOverlay('menu')" class="klap__menutoggle">
        <div data-ng-class="{'justy--active': main.overlays.menu.states.show}" class="justy"></div>
      </div>
    </header>
    <div data-ng-class="{'klap__overlay--show': main.overlays.menu.states.show}" class="klap__overlay">
      <div class="klap__logo"></div>
      <div class="klap__menu">
        <div class="klap__menuitem">Intro</div>
        <div class="klap__menuitem">Who we are</div>
        <div class="klap__menuitem">Cases</div>
        <div class="klap__menuitem">Contact</div>
      </div>
    </div>
    <div data-ng-class="{'klap__overlay--show': main.overlays.case.states.show}" class="klap__overlay">
      <div class="klap__logo"></div>
      <section class="container container--pushtop container--textcenter">
        <div class="container__content">
          <!--div.container__inner(data-ng-bind-html="main.overlays.case.html")-->
          <div class="container__inner">
            <div class="rte">
              <h1 class="rte__headline">Madhouse<b>Collection</b></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="container__inner">
            <div data-wavesurfer="asdsad.mp3" class="audiowave0"></div>
          </div>
          <div class="container__inner">
            <div data-drag-container class="gallery">
              <div data-drag class="gallery__list">
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
                <div class="gallery__image"><img src="http://placehold.it/490/675"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="container container--fullscreen container--expand">
      <div class="container__bg">
        <video autoplay loop muted class="video video--cover">
          <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
          <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
        </video>
        <!--iframe(src="https://player.vimeo.com/video/111753765?autoplay=1&loop=1", width="1500", height="642", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)-->
      </div>
    </section>
    <section class="container container--xs-expand container--s-expand">
      <div class="container__content">
        <div class="container__inner">
          <div data-ng-controller="SlidesCtrl as slides" data-slides="5" data-slides-autoplay="true" class="slides">
            <div class="slides__cutter">
              <div data-ng-style="slides.css" class="slides__list">
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
              </div>
            </div>
            <div class="slides__map">
              <div data-ng-click="slides.switchSlide(0, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(0)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(1, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(1)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(2, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(2)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(3, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(3)}" class="slides__mapitem"></div>
              <div data-ng-click="slides.switchSlide(4, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(4)}" class="slides__mapitem"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">
          <div class="btn btn--group">
            <div class="btn btn--active">All</div>
            <div class="btn">Commercial</div>
            <div class="btn">Corporate</div>
            <div class="btn">Fashion</div>
            <div class="btn">Images</div>
            <div class="btn">Music videos</div>
            <div class="btn">Playground</div>
            <div class="btn">Sound</div>
            <div class="btn">Video</div>
          </div>
        </div>
        <div class="container__inner">
          <div class="tiles"><a data-ng-click="main.toggleOverlay('case', true, 0)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 1)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 2)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 3)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 4)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 5)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 6)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 7)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 8)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 9)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 10)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 11)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 12)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 13)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 14)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a><a data-ng-click="main.toggleOverlay('case', true, 15)" class="tiles__tile">
              <figcaption class="tiles__overlay">Watch</figcaption>
              <div class="tiles__inner"><img src="http://placehold.it/450x338"></div>
              <div class="tiles__inner">Madhouse<b>Collection</b></div></a>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">Our services</div>
      </div>
    </section>
    <section class="container container--xs-expand container--s-expand">
      <div class="container__content">
        <div class="container__inner">
          <div data-ng-controller="SlidesCtrl as slides" data-slides="1" data-slides-autoplay="true" class="slides">
            <div class="slides__cutter">
              <div data-ng-style="slides.css" class="slides__list">
                <div class="slides__slide"><img src="http://placehold.it/1500x500"></div>
              </div>
            </div>
            <div class="slides__map">
              <div data-ng-click="slides.switchSlide(0, true)" data-ng-class="{'slides__mapitem--active': slides.checkActive(0)}" class="slides__mapitem"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="container__content">
        <div class="container__inner">Contact Klap</div>
      </div>
    </section>
    <script src="/assets/scripts/app.js"></script>
    <script src="/assets/scripts/controllers/main.controller.js"></script>
    <script src="/assets/scripts/controllers/slides.controller.js"></script>
    <script src="/assets/scripts/directives/wavesurfer.directive.js"></script>
    <script src="/assets/scripts/directives/dragcontainer.directive.js"></script>
    <script src="/assets/scripts/directives/drag.directive.js"></script>
  </body>
</html>