
// PARAMETERS

$_btnHeight: 26px;


// BLOCK

.btn {
	@include fontSize(gamma, 0);
	@include border-radius(13px 13px 13px 13px);
	color: $color_matgrey;
	background-color: $param_btn-background;
	width: 100%;
	display: block;
	text-align: center;
	padding: 0 10px;
	line-height: $_btnHeight;
	text-transform: uppercase;
	font-family: $param_btn-font;
	& + & {
		//margin-left: 5px;
	}
	// Nested btn in btn
	& > & {
		width: auto;
		display: inline-block;
		& + .btn {
			margin-left: 5px;
		}
	}
}

.btn,
.btn__text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//

.btn__text {
  @include transition(all 300ms ease);
	@include noUserSelect();

	display: inline-block;
	padding: 14px 16px;

}

//--- MODIFIERS -----------------------------------------------------//

.btn--active {
	background-color: $param_btn-active-background;
}

.btn--group {
	background-color: transparent;
}



//--- MEDIA QUERRIES ----------------------------------------------------------//

