extends ../master


block append head

block append body

block append content

	section.container.container--fullscreen.container--expand
		div.container__bg
			div.vimeo
				//iframe(src="https://player.vimeo.com/video/111753765?autoplay=1&loop=1", width="1500", height="642", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

	section.container.container--xs-expand.container--s-expand
		div.container__content
			div.container__inner
				div.slides(data-ng-controller="SlidesCtrl as slides" data-slides="5", data-slides-autoplay="true")
					div.slides__cutter
						div.slides__list(data-ng-style="slides.css")
							//div.slides__slide(style="background-image: url('http://placehold.it/1500x500')")
							div.slides__slide
								img(src="http://placehold.it/1500x500")
							div.slides__slide
								img(src="http://placehold.it/1500x500")
							div.slides__slide
								img(src="http://placehold.it/1500x500")
							div.slides__slide
								img(src="http://placehold.it/1500x500")
							div.slides__slide
								img(src="http://placehold.it/1500x500")
					div.slides__map
						div.slides__mapitem(data-ng-click="slides.switchSlide(0, true)", data-ng-class="{'slides__mapitem--active': slides.checkActive(0)}")
						div.slides__mapitem(data-ng-click="slides.switchSlide(1, true)", data-ng-class="{'slides__mapitem--active': slides.checkActive(1)}")
						div.slides__mapitem(data-ng-click="slides.switchSlide(2, true)", data-ng-class="{'slides__mapitem--active': slides.checkActive(2)}")
						div.slides__mapitem(data-ng-click="slides.switchSlide(3, true)", data-ng-class="{'slides__mapitem--active': slides.checkActive(3)}")
						div.slides__mapitem(data-ng-click="slides.switchSlide(4, true)", data-ng-class="{'slides__mapitem--active': slides.checkActive(4)}")


	section.container
		div.container__content
			div.container__inner
				div.btn.btn--group
					div.btn.btn--active All
					div.btn Commercial
					div.btn Corporate
					div.btn Fashion
					div.btn Images
					div.btn Music videos
					div.btn Playground
					div.btn Sound
					div.btn Video
			div.container__inner
				div.tiles
					- for (var i = 0; i < 16; ++i) {
						a.tiles__tile
							figcaption.tiles__overlay Watch
							div.tiles__inner
								img(src="http://placehold.it/450x338")
							div.tiles__inner
								| Madhouse
								b Collection
					- }

	section.container
		div.container__content
			div.container__inner Our services

	section.container
		div.container__content
			div.container__inner Contact Klap
